@charset "UTF-8";

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

._spoller-init .price__arrow::before,
._spoller-init .menu-footer__title::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-filter:before {
  content: "\e92b";
}

._icon-mark:before {
  content: "\e92a";
}

._icon-close:before {
  content: "\e900";
}

._icon-user:before {
  content: "\e928";
}

._icon-burger:before {
  content: "\e929";
}

._icon-group:before {
  content: "\e909";
}

._icon-clock:before {
  content: "\e90c";
}

._icon-cog:before {
  content: "\e90d";
}

._icon-chat:before {
  content: "\e90e";
}

._icon-arrow_left:before {
  content: "\e912";
}

._icon-arr_left:before {
  content: "\e913";
}

._icon-globe:before {
  content: "\e914";
}

._icon-instagram:before {
  content: "\e916";
}

._icon-facebook:before {
  content: "\e91b";
}

._icon-twitter:before {
  content: "\e91d";
}

._icon-youtube:before {
  content: "\e91e";
}

._icon-arro_left:before {
  content: "\e91f";
}

._icon-arro-down:before {
  content: "\e921";
}

._icon-arr-down:before {
  content: "\e922";
}

._icon-ar-down:before {
  content: "\e923";
}

._icon-arrow-down:before,
._spoller-init .price__arrow:before,
._spoller-init .menu-footer__title:before {
  content: "\e90a";
}

._icon-arrow-right:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-favorite:before {
  content: "\e903";
}

._icon-location:before {
  content: "\e904";
}

._icon-phone:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-send:before {
  content: "\e907";
}

._icon-share:before {
  content: "\e908";
}

._icon-mail:before {
  content: "\e945";
}

._icon-vk:before {
  content: "\ea98";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3a3a3a;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fcfcf7;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__security {
  margin-top: 7.5rem;
}

@supports (margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .page__security {
    margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .page__security {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}

.page__room {
  margin-top: 7.5rem;
}

@supports (margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .page__room {
    margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .page__room {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}

.page__house {
  margin-top: 7.5rem;
}

@supports (margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .page__house {
    margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 3.75rem )) {
  .page__house {
    margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 59.375);
  }
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 77.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

._footer-title {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 700;
  line-height: 1.2083333333em;
}

.title-h2 {
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

@supports (font-size: clamp( 1.875rem , 1.6644736842rem  +  1.0526315789vw , 2.5rem )) {
  .title-h2 {
    font-size: clamp( 1.875rem , 1.6644736842rem  +  1.0526315789vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.6644736842rem  +  1.0526315789vw , 2.5rem )) {
  .title-h2 {
    font-size: calc(1.875rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}

.title-h1 {
  font-weight: 700;
  line-height: 120%;
}

@supports (font-size: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
  .title-h1 {
    font-size: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.4539473684rem  +  2.1052631579vw , 3.125rem )) {
  .title-h1 {
    font-size: calc(1.875rem + 1.25 * (100vw - 20rem) / 59.375);
  }
}

.title-h3 {
  font-weight: 700;
  line-height: 120%;
}

@supports (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .title-h3 {
    font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0394736842rem  +  1.0526315789vw , 1.875rem )) {
  .title-h3 {
    font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 59.375);
  }
}

.slider-arrows {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3rem)[2];
  grid-template-columns: repeat(2, 3rem);
  -webkit-column-gap: 0.5rem;
     -moz-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.slider-arrow {
  border-radius: 50%;
  height: 3rem;
  background-color: rgba(232, 159, 113, 0.3);
  color: #F4A421;
  font-size: 0.75rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.slider-arrow_prew::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slider-arrow_next::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slider-arrow_white {
  -webkit-box-shadow: 0 0.25rem 0.875rem 0.0625rem rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.25rem 0.875rem 0.0625rem rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-pagination-bullet {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.6875rem;
          flex: 0 0 1.6875rem;
  height: 1.6875rem;
  margin: 0.125rem 0;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet:last-child) {
  margin-right: 0.75rem;
}

.swiper-pagination-bullet::after {
  content: "";
  width: 0.6875rem;
  height: 0.6875rem;
  background-color: #d8d8d8;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #F4A421;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.swiper-pagination-bullet-active::after {
  background-color: #F4A421;
}

.swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  padding: 15px 30px;
  text-align: center;
  background-color: #F4A421;
  color: #fff;
  font-size: 1.125rem;
  border: 1px solid #F4A421;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._flyImage.-ibg {
  opacity: 1;
  position: fixed;
  z-index: 10;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 2.5rem;
}

.header._scroll .header__wrapper {
  background-color: rgba(255, 255, 255, 0.9);
}

.header._scroll .header__body {
  min-height: 3.125rem;
}

.header__wrapper {
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}

.header__body {
  -webkit-transition: min-height 0.3s ease 0s;
  -o-transition: min-height 0.3s ease 0s;
  transition: min-height 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3125rem 0;
  min-height: 7.5rem;
  position: relative;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  padding: 0 0 0.3125rem 0;
  position: relative;
  z-index: 2;
}

@supports (margin-right: clamp( 0.0625rem , -0.9690789474rem  +  5.1578947368vw , 3.125rem )) {
  .header__logo {
    margin-right: clamp( 0.0625rem , -0.9690789474rem  +  5.1578947368vw , 3.125rem );
  }
}

@supports not (margin-right: clamp( 0.0625rem , -0.9690789474rem  +  5.1578947368vw , 3.125rem )) {
  .header__logo {
    margin-right: calc(0.0625rem + 3.0625 * (100vw - 20rem) / 59.375);
  }
}

.logo-header__img {
  height: 3.125rem;
  padding-right: 0.625rem;
}

.menu__item {
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 3px;
  padding: 5px 0;
  position: relative;
}

.menu__link {
  font-weight: 500;
  color: inherit;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__arrow {
  margin: 0 0 0 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 0.875rem;
}

.menu__sub-list {
  position: relative;
  background-color: rgba(244, 164, 33, 0.9);
  padding: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.menu__sub-item {
  font-size: 1rem;
}

.menu__sub-item:not(:last-child) {
  margin: 0px 0px 0.9375rem 0px;
}

.menu__sub-link {
  color: #fff;
}

.phone__item {
  font-weight: 600;
}

@supports (font-size: clamp( 1rem , 0.9578947368rem  +  0.2105263158vw , 1.125rem )) {
  .phone__item {
    font-size: clamp( 1rem , 0.9578947368rem  +  0.2105263158vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9578947368rem  +  0.2105263158vw , 1.125rem )) {
  .phone__item {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 59.375);
  }
}

.phone__icon {
  font-size: 1.5rem;
  padding-right: 0.625rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

.social__item {
  font-size: 1.75rem;
}

.icon-menu {
  display: none;
}

.no-webp .footer{
  background-image: url(img/bg.jpg); }

.footer {
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: 40px;
}

.footer__body {
  border-top: 1px solid #d8d8d8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18.125rem 1fr;
  grid-template-columns: 18.125rem 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.25rem;
  padding-top: 1.875rem;
}

@supports ((-moz-column-gap: clamp( 0.0000000625rem , -1.2631578112rem  +  6.3157893684vw , 3.75rem )) or (column-gap: clamp( 0.0000000625rem , -1.2631578112rem  +  6.3157893684vw , 3.75rem ))) {
  .footer__body {
    -webkit-column-gap: clamp( 0.0000000625rem , -1.2631578112rem  +  6.3157893684vw , 3.75rem );
       -moz-column-gap: clamp( 0.0000000625rem , -1.2631578112rem  +  6.3157893684vw , 3.75rem );
            column-gap: clamp( 0.0000000625rem , -1.2631578112rem  +  6.3157893684vw , 3.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.0000000625rem , -1.2631578112rem  +  6.3157893684vw , 3.75rem )) or (column-gap: clamp( 0.0000000625rem , -1.2631578112rem  +  6.3157893684vw , 3.75rem ))) {
  .footer__body {
    -webkit-column-gap: calc(0.0000000625rem + 3.7499999375 * (100vw - 20rem) / 59.375);
       -moz-column-gap: calc(0.0000000625rem + 3.7499999375 * (100vw - 20rem) / 59.375);
            column-gap: calc(0.0000000625rem + 3.7499999375 * (100vw - 20rem) / 59.375);
  }
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  margin-bottom: 0.6666666667em;
  color: #616161;
}

.footer__text {
  color: #898989;
  line-height: 140%;
}

.footer__text:not(:last-child) {
  margin: 0px 0px 0.6666666667em 0px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 140%;
  color: #898989;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.contact-info__item::before {
  margin-right: 0.625rem;
}

@supports (margin-bottom: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
  .contact-info__item:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
  .contact-info__item:not(:last-child) {
    margin-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 59.375);
  }
}

.menu-footer__title {
  cursor: default;
  margin-bottom: 0.6666666667em;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  color: #616161;
}

._spoller-init .menu-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

._spoller-init .menu-footer__title::before {
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.menu-footer__title._spoller-active::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu-footer__list {
  margin-bottom: 1.25rem;
}

@supports (margin-bottom: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
  .menu-footer__item:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
  .menu-footer__item:not(:last-child) {
    margin-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 59.375);
  }
}

.menu-footer__link {
  color: #898989;
  line-height: 120%;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

@supports (margin-bottom: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
  .menu-footer__link:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4986842105rem  +  0.6315789474vw , 1rem )) {
  .menu-footer__link:not(:last-child) {
    margin-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 59.375);
  }
}

.logo__footer {
  width: 1.75rem;
  margin-right: 0.625rem;
}

.main-slider__body {
  padding-top: 8.75rem;
  position: relative;
  z-index: 2;
}

.main-slider__content {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34.1935483871%;
          flex: 0 0 34.1935483871%;
}

@supports (margin-bottom: clamp( 0.9375rem , -0.4309210526rem  +  6.8421052632vw , 5rem )) {
  .main-slider__content {
    margin-bottom: clamp( 0.9375rem , -0.4309210526rem  +  6.8421052632vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.4309210526rem  +  6.8421052632vw , 5rem )) {
  .main-slider__content {
    margin-bottom: calc(0.9375rem + 4.0625 * (100vw - 20rem) / 59.375);
  }
}

.main-slider__slider {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main-slider__wrapper {
  overflow: visible;
}

.content-main {
  background-color: rgba(255, 255, 255, 0.72);
  position: relative;
  z-index: 3;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

@supports (padding-top: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.5rem )) {
  .content-main {
    padding-top: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.5rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.4111842105rem  +  2.6315789474vw , 2.5rem )) {
  .content-main {
    padding-top: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 59.375);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.2006578947rem  +  3.6842105263vw , 3.125rem )) {
  .content-main {
    padding-bottom: clamp( 0.9375rem , 0.2006578947rem  +  3.6842105263vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.2006578947rem  +  3.6842105263vw , 3.125rem )) {
  .content-main {
    padding-bottom: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 59.375);
  }
}

.content-main__title {
  font-weight: 700;
  line-height: 120%;
}

@supports (font-size: clamp( 1.5rem , 1.0368421053rem  +  2.3157894737vw , 2.875rem )) {
  .content-main__title {
    font-size: clamp( 1.5rem , 1.0368421053rem  +  2.3157894737vw , 2.875rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.0368421053rem  +  2.3157894737vw , 2.875rem )) {
  .content-main__title {
    font-size: calc(1.5rem + 1.375 * (100vw - 20rem) / 59.375);
  }
}

.content-main__text {
  line-height: 120%;
  padding-top: 1.5625rem;
}

@supports (font-size: clamp( 1rem , 0.8736842105rem  +  0.6315789474vw , 1.375rem )) {
  .content-main__text {
    font-size: clamp( 1rem , 0.8736842105rem  +  0.6315789474vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8736842105rem  +  0.6315789474vw , 1.375rem )) {
  .content-main__text {
    font-size: calc(1rem + 0.375 * (100vw - 20rem) / 59.375);
  }
}

.content-main__btn {
  margin-top: 1.5625rem;
  width: 100%;
}

.slider-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider-main__controls {
  margin-bottom: 1.25rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.swiper-slide {
  position: relative;
}

.swiper-slide__img {
  padding: 0 0 61% 0;
}

.swiper-slide__content {
  min-width: 18.4375rem;
  max-width: 18.75rem;
  overflow: auto;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.9375rem;
  background: rgba(255, 255, 255, 0.9);
}

.swiper-slide__title {
  font-weight: 600;
  line-height: 120%;
}

@supports (font-size: clamp( 1.375rem , 1.2486842105rem  +  0.6315789474vw , 1.75rem )) {
  .swiper-slide__title {
    font-size: clamp( 1.375rem , 1.2486842105rem  +  0.6315789474vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.2486842105rem  +  0.6315789474vw , 1.75rem )) {
  .swiper-slide__title {
    font-size: calc(1.375rem + 0.375 * (100vw - 20rem) / 59.375);
  }
}

.swiper-slide__text {
  line-height: 150%;
  color: #898989;
}

.swiper-slide__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 1.25rem;
}

.swiper-slide__price::before {
  margin-right: 0.625rem;
  font-size: 0.75rem;
}

.controls-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls-slider__dotts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.advantage {
  padding: 5rem 0;
}

.advantage__container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  gap: 10px;
  position: relative;
}

.advantage__container::after {
  content: "";
  position: absolute;
  background: rgba(244, 164, 33, 0.9);
  width: 1px;
  height: 17.5rem;
  top: -30px;
  right: 50%;
}

.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.9375rem;
  margin: 0.625rem;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0.625rem;
  width: 20.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage__icon {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__img {
  width: 3.75rem;
}

.advantage__title {
  font-size: 1.25rem;
  padding-left: 1.25rem;
  line-height: 150%;
  font-weight: 700;
}

.price__container {
  margin-bottom: 5rem;
}

.price__header {
  padding-bottom: 2.5rem;
}

.price__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  border-radius: 0.3125rem;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 0.625rem 1.5625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1.25rem , 1.1236842105rem  +  0.6315789474vw , 1.625rem )) {
  .price__arrow {
    font-size: clamp( 1.25rem , 1.1236842105rem  +  0.6315789474vw , 1.625rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1236842105rem  +  0.6315789474vw , 1.625rem )) {
  .price__arrow {
    font-size: calc(1.25rem + 0.375 * (100vw - 20rem) / 59.375);
  }
}

.price__arrow_red {
  border-top: 1px solid #f20a0a;
  border-bottom: 1px solid #f20a0a;
}

.price__arrow:not(:last-child) {
  margin-bottom: 0.625rem;
}

._spoller-init .price__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

._spoller-init .price__arrow::before {
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.price__arrow._spoller-active::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.price__list {
  padding-bottom: 1.875rem;
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  padding: 0.625rem;
  border-bottom: 1px solid #d7d7d7;
}

@supports (font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem )) {
  .price__item {
    font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7907894737rem  +  0.4210526316vw , 1.125rem )) {
  .price__item {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 59.375);
  }
}

.price__value {
  padding-left: 1.875rem;
}

.price__all {
  margin: 1.25rem;
  color: #F4A421;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.security__title {
  padding: 1.875rem 0;
}

.security__list {
  line-height: 150%;
}

@supports (font-size: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem )) {
  .security__list {
    font-size: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem )) {
  .security__list {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 59.375);
  }
}

.security__item {
  padding-bottom: 0.9375rem;
}

.security__btn {
  margin-top: 1.25rem;
}

.room__title {
  padding: 1.875rem 0 0.625rem 0;
}

.room__body {
  line-height: 150%;
}

@supports (font-size: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem )) {
  .room__body {
    font-size: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem )) {
  .room__body {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 59.375);
  }
}

.room__item {
  margin: 0 0 0.625rem 1.875rem;
  list-style-type: disc;
}

.room__text {
  padding-bottom: 0.9375rem;
}

.house__body {
  line-height: 150%;
}

@supports (font-size: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem )) {
  .house__body {
    font-size: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.7486842105rem  +  0.6315789474vw , 1.25rem )) {
  .house__body {
    font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 59.375);
  }
}

.house__text {
  padding-bottom: 0.9375rem;
}

.house__item {
  margin: 0 0 0.625rem 1.875rem;
  list-style-type: disc;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 48.06125em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

@supports ((-moz-column-gap: clamp( 0.0625rem , -0.4427631579rem  +  2.5263157895vw , 1.5625rem )) or (column-gap: clamp( 0.0625rem , -0.4427631579rem  +  2.5263157895vw , 1.5625rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.0625rem , -0.4427631579rem  +  2.5263157895vw , 1.5625rem );
         -moz-column-gap: clamp( 0.0625rem , -0.4427631579rem  +  2.5263157895vw , 1.5625rem );
              column-gap: clamp( 0.0625rem , -0.4427631579rem  +  2.5263157895vw , 1.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.0625rem , -0.4427631579rem  +  2.5263157895vw , 1.5625rem )) or (column-gap: clamp( 0.0625rem , -0.4427631579rem  +  2.5263157895vw , 1.5625rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.0625rem + 1.5 * (100vw - 20rem) / 59.375);
         -moz-column-gap: calc(0.0625rem + 1.5 * (100vw - 20rem) / 59.375);
              column-gap: calc(0.0625rem + 1.5 * (100vw - 20rem) / 59.375);
    }
}

  .menu__item._hover .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item._hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__item._hover .menu__arrow,
  .menu__item._hover .menu__link {
    color: #F4A421;
  }

  .menu__sub-list {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0px, 20px);
        -ms-transform: translate(0px, 20px);
            transform: translate(0px, 20px);
    width: 300px;
    left: 0;
    position: absolute;
    top: 100%;
    pointer-events: none;
    z-index: 5;
  }

  .menu-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .swiper-slide__content {
    position: absolute;
    min-width: 21.875rem;
  }

@supports (right: clamp( 0.0000000625rem , -0.8421051796rem  +  4.2105262105vw , 2.5rem )) {
    .swiper-slide__content {
      right: clamp( 0.0000000625rem , -0.8421051796rem  +  4.2105262105vw , 2.5rem );
    }
}

@supports not (right: clamp( 0.0000000625rem , -0.8421051796rem  +  4.2105262105vw , 2.5rem )) {
    .swiper-slide__content {
      right: calc(0.0000000625rem + 2.4999999375 * (100vw - 20rem) / 59.375);
    }
}

@supports (bottom: clamp( 0.0000000625rem , -0.8421051796rem  +  4.2105262105vw , 2.5rem )) {
    .swiper-slide__content {
      bottom: clamp( 0.0000000625rem , -0.8421051796rem  +  4.2105262105vw , 2.5rem );
    }
}

@supports not (bottom: clamp( 0.0000000625rem , -0.8421051796rem  +  4.2105262105vw , 2.5rem )) {
    .swiper-slide__content {
      bottom: calc(0.0000000625rem + 2.4999999375 * (100vw - 20rem) / 59.375);
    }
}
}

@media (min-width: 61.99875em) {
  .header._scroll .header__body {
    min-height: 4.375rem;
  }

  .phone__icon {
    display: none;
  }

@supports (margin-left: clamp( 0.0625rem , -0.7585526316rem  +  4.1052631579vw , 2.5rem )) {
    .social {
      margin-left: clamp( 0.0625rem , -0.7585526316rem  +  4.1052631579vw , 2.5rem );
    }
}

@supports not (margin-left: clamp( 0.0625rem , -0.7585526316rem  +  4.1052631579vw , 2.5rem )) {
    .social {
      margin-left: calc(0.0625rem + 2.4375 * (100vw - 20rem) / 59.375);
    }
}

  .menu-footer__column:not(:last-child) {
    margin-right: 1.875rem;
  }

  .main-slider__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

@supports (width: clamp( 18.125rem , 4.5671052632rem  +  67.7894736842vw , 58.375rem )) {
    .main-slider__wrapper {
      width: clamp( 18.125rem , 4.5671052632rem  +  67.7894736842vw , 58.375rem );
    }
}

@supports not (width: clamp( 18.125rem , 4.5671052632rem  +  67.7894736842vw , 58.375rem )) {
    .main-slider__wrapper {
      width: calc(18.125rem + 40.25 * (100vw - 20rem) / 59.375);
    }
}

  .content-main {
    background-color: rgba(255, 255, 255, 0.9);
  }

@supports (padding: clamp( 0.0625rem , -1.1796052632rem  +  6.2105263158vw , 3.75rem )) {
    .content-main {
      padding: clamp( 0.0625rem , -1.1796052632rem  +  6.2105263158vw , 3.75rem );
    }
}

@supports not (padding: clamp( 0.0625rem , -1.1796052632rem  +  6.2105263158vw , 3.75rem )) {
    .content-main {
      padding: calc(0.0625rem + 3.6875 * (100vw - 20rem) / 59.375);
    }
}

  .slider-main__controls {
    padding-left: 1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .page__security {
    margin-top: 5rem;
  }

  .page__room {
    margin-top: 5rem;
  }

  .page__house {
    margin-top: 5rem;
  }

  .header__body {
    min-height: 5rem;
  }

  .header__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .phone {
    display: none;
  }

  .footer__body {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__main {
    margin-bottom: 3.125rem;
  }

  .main-slider__body {
    padding-top: 5rem;
  }

  .main-slider__content {
    margin: 0 -0.9375rem;
  }

  .main-slider__slider {
    margin: 0 -0.9375rem;
  }

  .slider-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .slider-main__controls {
    padding-top: 1.25rem;
  }

  .controls-slider__dotts {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .controls-slider__arrows {
    display: none;
  }
}

@media (max-width: 48.06125em) {
  .page__security {
    margin-top: 3.75rem;
  }

  .page__room {
    margin-top: 3.75rem;
  }

  .page__house {
    margin-top: 3.75rem;
  }

  .header {
    min-height: 0.3125rem;
  }

  .header__body {
    min-height: 3.75rem;
  }

  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 6.25rem 0.9375rem 1.875rem 0.9375rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    top: 0;
    left: -100%;
    background-color: #fcf8f3;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__item {
    margin: 0 0 15px 0;
  }

  .menu__item:last-child {
    margin-bottom: 0;
  }

  .menu__link {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .menu__arrow {
    font-size: 1rem;
  }

  .menu__arrow._spoller-active {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__sub-list {
    margin: 0.625rem -0.9375rem;
  }

  .menu__sub-item:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .menu__sub-link {
    font-size: 1.25rem;
  }

  .icon-menu {
    margin-left: 0.9375rem;
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-slider__body {
    padding-top: 3.75rem;
  }

  .swiper-slide__content {
    max-width: 100%;
  }

  .advantage__container::after {
    display: none;
  }

  .advantage__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 29.99875em) {
  .logo-header__txt {
    display: none;
  }
}

@media (any-hover: hover) {
  .slider-arrow:hover {
    color: #fff;
    background-color: rgb(232, 159, 113);
  }

  .slider-arrow_white:hover {
    background-color: #F4A421;
    color: #fff;
  }

  .btn:hover {
    border: 1px solid !important;
    background-color: #fff;
    color: #F4A421;
    font-weight: 700;
  }

  .header._scroll .header__wrapper:hover {
    background-color: rgb(255, 255, 255);
  }

  .menu__item:hover .menu__sub-list {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item:hover .menu__arrow {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .menu__item:hover .menu__arrow,
  .menu__item:hover .menu__link {
    color: #F4A421;
  }

  .menu__sub-link:hover {
    font-weight: 600;
  }

  .contact-info__item:hover {
    color: #F4A421;
  }

  .menu-footer__title:hover {
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
  }

  .menu-footer__link:hover {
    color: #F4A421;
  }

  .price__arrow:hover {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
  }

  .price__all:hover {
    color: #eb7515;
  }
}

.webp .footer{ background-image: url(img/bg.webp); }